strict-peer-dependencies=false
auto-install-peers=true
lockfile=true
resolution-mode=highest
save-workspace-protocol=rolling
dedupe-peer-dependents=true
shared-workspace-lockfile=false
use-node-version=18.0.0
node-version=18.0.0
engine-strict=true